.real, .price, .illustration, .nav, .marque, footer  {
    max-width: 1100px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/** ----------------------------------- Barre de nav**/
div.nav {
    display: flex;
    gap: 15px;
    margin-top: 50px;
    align-items: baseline;
}

.feature {
    display: flex;
    gap: 50px;
    margin-left: 300px;
}

a {
    text-decoration: none;
    outline: none;
    padding-top: 2px;
}

span.header-xpense {
    background-color: #FF6347;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    gap: 10px;
}

.item1 {
    color: white;
    margin: 0 10px ;
    font-weight: bold;
}

.item2, .item3, .item4, .item5, .item6 {
    color: black;
    font-weight: bold;
}

.item7 {
    margin-left: 180px;
    border: solid 1px;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    border-color: #FF6347;
    color: #FF6347;
}

/** -------------------------------- premiere page**/
.h1 {
    font-size: 500%;
    color: rgb(30, 30, 30);
}

p {
    color: rgb(182, 179, 179);
}

.help {
    font-size: 120%;
    color: rgb(182, 179, 179);
    margin-top: -35px;
    margin-bottom: 65px;
}

.illu {
    float: right;
}

.device {
    margin-top: 20px ;
}
.demo {
    border-radius: 5px;
    color: white;
    padding: 17px 17px 17px 17px;
    background-color: #FF6347;
    margin: 0px 10px 0px 0px;
}

.illustration {
    margin-top: 70px;
    margin-bottom: 300px;
}

/** --------------------------------- deuxième page**/
.background {
    padding: 75px 0 0 0;
    background-image: url(orange.jpg);
    margin: auto;
}

div.image {
    display: flex; 
}

.image {
    margin-left: auto;
    margin-right: auto;
}

.marque {
    margin-bottom: 200px;
    padding: 50px 0 0 0;
    
}

.facebook, .google, .coca, .samsung {
    height: 50px;
    width: 145px;
    padding-left: 70px;
    filter: grayscale(100%);
    opacity: 0.33;
}

.linkedin {
    filter: grayscale(100%);
    height: 70px;
    width: 120px;
    padding-left: 70px;
    opacity: 0.33;
}

/** ----------------------------- Troisième page**/
div.real {
    margin-bottom: 200px;
}

.Illustrator-1{
    float: right;
}

.real-time {
    font-size: 500%;
    color: rgb(30, 30, 30);
}

.learn-button {
    color: #FF6347;
}

.lorem {
    width: 450px;
    line-height: 30px;
}

/** -----------------------------------quatrieme page**/
.flexible {
    max-width: 1100px;
    padding: 0 10px 0 100px;
    margin: 100px 0;
}

.price {
    margin-bottom: 200px;
}
.plan {
    font-size: 450%;
    color: rgb(30, 30, 30);
}

.list-price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.starter-plan, .silver-plan, .diamond-plan {
    border: solid 2px;
    border-radius: 8px;
    border-color: rgba(190, 190, 190, 0.781);
    box-shadow: 1px 1px 8px rgb(145, 145, 145);
    padding: 50px 50px 0px 50px;
}

.item-ul {
    padding: 0;
    line-height: 30px;
}

.price-bold {
    color: black;
    font-weight: bolder;
}

.supp {
    font-size: small;
}

.get1, .get2 {
    border: solid 1px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.get1 {
    color: #FF6347;
    border-color: #FF6347;
}

.get2 {
    color: white;
    background-color: #FF6347;
}

.margin-butt {
    margin: 50px 0 70px 0;
}

ul {
    list-style-type: none;
}

/** -------------------------------------cicinquième page**/
.illustrator {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(orange.jpg);
    margin: auto;
    padding: 100px 0;
}

div.vingt-million {
    display: flex;
    justify-content: center;
}

.vingt-million {
    font-size: 200%;
    color: white;
    margin: 0 170px;
    text-align: center;
}

div.h-demo {
    display: flex;
    justify-content: center;
}
.h-demo  {
    font-size: 150%;
    color: white;
}

div.free-demo {
    display: flex;
    justify-content: center;
}

a.free-demo {
    background-color: white;
    border-radius: 5px;
    padding: 11px 11px 11px 11px;
    color: #FF6347;
    margin: 0px 480px 0px 480px;
}

img.free-demo {
    display: flex;
}

div.img-illu {
    display: flex;
    justify-content: center;
}

/** ------------------------------------------footer**/

.foot {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

span.foot-xpense {
    display: flex;
    gap: 7px;
}

h3.foot-xpense {
    background-color: #FF6347;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding-top: 2px;
}

.foot-a {
    color: black;
    line-height: 30px;
}

.foot-ul{
    padding: 0;
}

.privacy {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: solid 2px rgb(223, 223, 223);
}

.line-spacing {
    display: flex;
    gap: 50px;
    color: black;
}

.logo-container {
    display: flex;
    gap: 10px;
}
.foot-logo {
    height: 15px;
    width: 15px;
}

div.form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: solid 1px;
    border-radius: 5px;
    padding: 7px 7px;
}
input.form {
    border: white;
    font-size: 120%;
    padding: 5px 0;
}

a.form {
    color: white;
    background-color: #FF6347;
    border-radius: 5px;
    padding: 10px 15px;
}

